@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
}

body {
  user-select: none;
  font-family: "Rubik", sans-serif;
  background: #181818;
  color: ghostwhite;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 90vh;
  cursor: pointer;
}

h1 {
  font-size: 15vw;
  margin-bottom: 0.35ch;
  font-weight: 500;
}

@media (min-width: 37.5rem) {
  h1 {
    font-size: 5.625rem;
  }
}

p {
  color: darkgray;
  text-align: center;
  margin: 0 2rem;
  line-height: 1.3;
}
